<<<<<<< HEAD
/*----------------------------------------------------------------------
  @PUBLIC FOOTER CSS

  Defines all of the styles used for UD branded footer.

  @since   1.0.0
  @version 3.0.1     Updated social icon sprite for easier management.
  @return  mixed     Doesn't load if footer is disabled.
  A. @UD FOOTER
  B. @UD FOOTER LOGO
  C. @UD FOOTER LEGAL
  D. @IE HACKS
  E. @$MEDIA QUERIES
----------------------------------------------------------------------*/
/*----------------------------------
  A. @UD FOOTER
-----------------------------------*/
#udtbp_footer {
  border-top: 3px solid #FFD300;
  padding: .313rem 0 0;
}
/*----------------------------------
  B. @UD FOOTER LOGO
-----------------------------------*/
#udtbp_ftlogo {
  padding: 0 0 0 1rem;
}
#udtbp_ftlogo > a {
  padding-right:0;
  position: relative;
  top: -33px;
  z-index: 1;
}
#udtbp_ftlogo > a,
#udtbp_ftlogo > a:hover {
  border: medium none;
  display: block;
  max-width:325px;
=======
/*-------------------------------------------------------------------
  * $PUBLIC FOOTER CSS
  *
  * Defines all of the footer styles used in the plugin's PUBLIC facing pages.
  *
  * @since          1.4.2
  * @version        1.0.1          Cleanup code, removed outdated styles.
  * @return         mixed          Doesn't load if footer is disabled
  *
  * 1. $LAYOUT
  * 2. $IE HACKS
  * 3. $MEDIA QUERIES
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    1. @LAYOUT
-------------------------------------------------------------------*/
#udtbp_footer > .ud_grid:not(#udtbp_legal) {
  margin-top: -30px;
}
a#udtbp_logo_footer {
  display: block
}
#udtbp_footer_lockup a {
  height: 129px;
  display: inherit;
}
#udtbp_footer img {
  -webkit-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
  transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
}
#udtbp_footer img.lockup {
  width: calc(100% - 5.905rem);
  max-width: 129px;
  height: auto;
}
#udtbp_footer img.dare {
  max-width: 191px;
  height: auto;
}
#udtbp_footer > .ud_grid--gutters {
  padding: 0 2.317rem 1.158rem;
}
#udtbp_footer_social {
  padding: 0;
  margin-right: -10px;
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
}
#udtbp_footer {
  border-top: 3px solid #FFD300;
  padding: .313rem 0 0;
}
<<<<<<< HEAD
/*----------------------------------
  C. @UD FOOTER LEGAL
-----------------------------------*/
#ud-legal {
=======
#udtbp_footer_legal {
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
  background: #EEE;
  display: flex;
  width: 100%;
  margin:1rem 0 0;
}
<<<<<<< HEAD
#ud-legal > ul {
=======
#udtbp_footer_legal ul {
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
  margin: 0 auto;
}
#udtbp_footer_legal li {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size:10px !important;
  display: inline-block;
  list-style: none inside none !important;
  padding:.5rem 0 .625rem;
  line-height: 2
}
#udtbp_footer_legal li:first-child {
  color:#999
}
#udtbp_footer_legal a {
  border-bottom: none;
  text-decoration: underline;
  color:#337AB7
}
<<<<<<< HEAD
/*------------------------------------
  D. @UD FOOTER SOCIAL
------------------------------------*/
.ud_grid-cell.ud_ft_social {
  padding: 0 1rem 0 0;
}
#udtbp_sociallinks > ul {
=======
#udtbp_footer_social ul {
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
  display: flex;
  list-style: none;
  list-style-image: none;
  justify-content: flex-end;
  padding: 0;
<<<<<<< HEAD
}
#udtbp_sociallinks li {
  width: 40px;
  height: 40px;
}
#udtbp_sociallinks li span {
  /* display: flex; */
=======
  margin-top:40px;
}
#udtbp_footer_social li {
  width: 50px;
  height: 50px;
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
}
#udtbp_footer_social a {
  display: block;
<<<<<<< HEAD
  height: 40px;
  width: 40px;
  text-decoration: none;
  border-bottom: none;
}
span [data-icon="twitter"]:after,
span [data-icon="facebook"]:after,
span [data-icon="instagram"]:after,
span [data-icon="youtube"]:after,
span [data-icon="pintrest"]:after,
span [data-icon="linkedin"]:after{
=======
  height: 50px;
  width: 50px;
  text-decoration: none;
  border-bottom: none;
}
#udtbp_footer_social a span{
  display: block;
}
[data-icon="twitter"]:after,
[data-icon="facebook"]:after,
[data-icon="instagram"]:after,
[data-icon="youtube"]:after,
[data-icon="pintrest"]:after,
[data-icon="linkedin"]:after{
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
  display:block;
  content:'';
  background-color:transparent;
  background-repeat: no-repeat;
<<<<<<< HEAD
  width: 40px;
  height: 40px;
=======
  width: 50px;
  height: 50px;
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
  -webkit-background-size: cover !important;
  background-size: cover !important;
  margin:0 auto;
}
<<<<<<< HEAD
span [data-icon="facebook"]:after {
  background-position: center 0px !important;
}
span [data-icon="twitter"]:after {
  background-position: center -40px !important;
}
span [data-icon="instagram"]:after {
  background-position: center -80px !important;
}
span [data-icon="youtube"]:after {
  background-position: center -120px !important;
}
span [data-icon="pintrest"]:after {
  background-position: center -160px !important;
}
span [data-icon="linkedin"]:after {
  background-position: center -200px !important;
}
/*------------------------------------
  E. @IE HACKS
-------------------------------------*/
.is_ie .ud_circle_logo.ud_grid-cell {
    padding-left: 0rem;
}
/*--------------------------------------------------------------
  F. @$MEDIA QUERIES
    max-width:  47.938em / 767px
    min-width:  560px
    min-width:  20.000em / 320px max-width: 35.000em / 560px
    min-width:  26.875em / 430px
--------------------------------------------------------------*/
@media (max-width:47.938em) {
  .ud_grid-cell.ud_ft_social {
    z-index: 9999 !important
  }
  #udtbp_sociallinks {
    padding: 0;
  }
   #udtbp_footer {
    padding: 1rem 0 0;
  }
}
@media (min-width:560px) {
=======
[data-icon="facebook"]:after {
  background-position: center 0px !important;
}
[data-icon="twitter"]:after {
  background-position: center -50px !important;
}
[data-icon="instagram"]:after {
  background-position: center -100px !important;
}
[data-icon="youtube"]:after {
  background-position: center -150px !important;
}
[data-icon="pintrest"]:after {
  background-position: center -200px !important;
}
[data-icon="linkedin"]:after {
  background-position: center -250px !important;
}
/*-------------------------------------------------------------------
  2. @IE HACKS
-------------------------------------------------------------------*/
.is_ie .ud_circle_logo.ud_grid-cell {
    padding-left: 0rem;
}
/*-------------------------------------------------------------------
  3. @$MEDIA QUERIES
    a. max-width:681px
    b. min-width:682px
    c. min-width:747px
    d. max-width:47.938em / 767px
    e. min-width:20.000em and max-width:29.938em   / 320px and 479px
-------------------------------------------------------------------*/
@media only screen and (max-width:681px){
  #udtbp_footer_social ul {
    justify-content: center;
    margin-top: 0
  }
}
@media (min-width:682px) {
  .large-ud_grid--fit > .ud_grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
  }
}
@media (min-width:747px) {
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
  .large-ud_grid--fit > .ud_grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
<<<<<<< HEAD
  }
}
@media only screen and (min-width:20.000em) and (max-width:35.000em){
  .ud_grid-cell.ud_circle_logo {
    height:100px
  }
  #udtbp_sociallinks > ul {
    justify-content: center
  }
  .ud_grid-cell.ud_ft_social,
  .ud_grid--gutters,
  #udtbp_ftlogo {
    padding-top: 1rem;
=======
  }
  #udtbp_footer_lockup {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 59.6667%;
    -ms-flex: 0 0 59.6667%;
    flex: 0 0 59.6667%;
  }
  #udtbp_footer_lockup img.lockup {
    min-width: 129px
  }
}
@media only screen and (max-width:47.938em){
  #udtbp_footer_social {
    z-index: 9999 !important
  }
  #udtbp_footer > .ud_grid--gutters {
    padding: 0 1.317rem 0;
  }
/*  .udtbp_footer_social > ul {
    justify-content: center;
    margin-left:0;
    margin-bottom: 0
  }*/
  #udtbp_footer_social > ul {
    padding: 0;
  }
  /*  #udtbp_footer {
    padding: 1rem 0 0;
  } */
}
@media all and (min-width:20.000em) and (max-width:29.938em){
  #udtbp_footer_lockup img.lockup {
    width: 64px;
    max-width:112px;

  }
  #udtbp_footer > .ud_grid:not(#udtbp_legal) {
    margin-top: -50px;
  }
  #udtbp_footer img.dare {
    -webkit-transform: translate(-15px, 10px);
    transform: translate(-15px, 10px);
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
  }
}
@media only screen and (min-width:26.875em) {
/*  #udtbp_sociallinks > ul {
    text-align: center;
  }*/
}
