/*----------------------------------------------------------------------
  @PUBLIC HEADER CSS

  Defines all of the styles used for UD branded header.

  @since   1.0.0
  @version 3.1.0
  @return  mixed     Doesn't load if header is disabled.
  A. @UD HEADER
  B. @UD HEADER LOGO
  D. @UD HEADER LEGAL
  E. @IE HACKS
  F. @$MEDIA QUERIES
----------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------
  A. @UD HEADER
    a. safari fix for font weight
    @example https://stackoverflow.com/questions/21278020/font-weight-turns-lighter-on-mac-safari
--------------------------------------------------------------------------------------------------*/
#udtbp_header span {
  display: block;
  margin: .238rem 0 0
}
#udtbp_header {
  background: #0048A5 url('../img/ud-seal-cpa.png') no-repeat center 0;
  -webkit-background-size: 72% auto;
  background-size: 72% auto;
  margin: 0;
  padding-top: 3.122%;
  padding-bottom: 3.122%;
  padding-left:0;
  padding-right:0;
  overflow: visible;
  border-bottom: 3px solid #FFD300;
  min-height: 60px;
  max-height: 142px;
  -webkit-transition: height 0.3s ease-in 0s;
  transition: height 0.3s ease-in 0s;
  width:100%
}
#udtbp_logo a:hover {
  text-decoration: none
}
#udtbp_header > div {
  height: 100%;
  max-height: 91px;
  text-align: center;
  padding: calc(53% - 41.8rem) 0 !important
}
#udtbp_header span a {
  font-family: "Open Sans",sans-serif;
  font-size:  calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased; /* a */
  -webkit-text-stroke:1px transparent;
  padding-bottom: 0;
  color: #FFF;
  text-decoration: none;
  border-bottom: none
}
#udtbp_logo {
  display: block;
  font-size:.1rem;
  color:#000;
  overflow:visible;
  border-bottom:none
}

/*-------------------------------------------------------------------
  * $PUBLIC HEADER CSS
  *
  * Defines all of the header styles used in the plugin's PUBLIC facing pages.
  *
  * @since          1.4.2
  * @version        1.0.1          Cleanup code, removed outdated styles.
  * @return         mixed          Doesn't load if footer is disabled
  *
  * 1. $LAYOUT
  * 2. $MEDIA QUERIES
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
  1. $LAYOUT
    a. https://css-tricks.com/snippets/css/fluid-typography/
    b. safari fix for font weight
    @link https://stackoverflow.com/questions/21278020/font-weight-turns-lighter-on-mac-safari
-------------------------------------------------------------------*/
#udtbp_header span {
  display: inline-flex;
  align-content: center;
}
#udtbp_header{
  background: #0048A5 url('../img/ud-seal-cpa.png') no-repeat center 0;
  -webkit-background-size:contain;
  background-size:contain;
  margin: 0;
  padding: 0;
  overflow: visible;
  border-bottom: 3px solid #FFD300;
  height: auto;
  max-height: 177px;
  -webkit-transition: height 0.3s ease-in 0s;
  transition: height 0.3s ease-in 0s;
  width: 100%;
}
#udtbp_logo a:hover {
  text-decoration: none
}
#udtbp_header > div {
  text-align: center;
  padding: 10px 0 !important;
}
#udtbp_header span a {
  font-family: "Open Sans",sans-serif;
  font-size:  calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))) !important; /* a */
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased; /* b */
  -webkit-text-stroke:1px transparent;
  padding-bottom: 0;
  color: #FFF;
  text-decoration: none;
  border-bottom: none;
  line-height: 50px
}
/* #udtbp_logo img {
  height: auto;
  width: calc(50% - 5.905rem);
  -webkit-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
  transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
  max-width: 218px;
} */
#udtbp_logo {
  display: block;
  font-size:.1rem;
  color:#000;
  overflow:visible;
  border-bottom:none;
  align-content: center;
  padding:15px 0 0;
}
.et-fixed-header {
  max-height: 120px !important;
  padding: 10px 0 0 !important
}
/*-----------------------------------------------------------
    B. @MEDIA QUERIES
      min-width: 61.250em / 980px
      min-width: 20.000em / 320px max-width: 61.188em / 979px
      max-width: 36.524em / 767px
      min-width: 36.571em / 768px
      max-width:            1278px
------------------------------------------------------------*/
@media only screen and (min-width: 61.250em) {
  #udtbp_logo img {
    border: 0 none;
    /* padding: calc(50% - 41.16rem) 0 !important; */
    padding: 0;
    background: none;
    color: #111;
    width:218px;
    height:91px;
    -webkit-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
    transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
  }
}
@media only screen and (min-width: 20em) and (max-width: 61.188em) {
  #udtbp_header > div {
    height: auto;
  }
  #udtbp_logo img {
    display:inline-flex;
    margin:0 auto;
    height:auto;
    width:calc(50% - 21.403rem);
    max-width:218px;
    -webkit-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
    transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
  }
}
@media only screen and (max-width: 767px ){/*36.524em){*/
  #udtbp_header {
    max-height:126px;
    padding-top: 2.79%
  }
}
@media only screen and (min-width: 36.571em){
  #udtbp_header {
    -webkit-background-size: 100% auto;
    background-size: 100% auto
  }
}

@media only screen and (max-width: 1278px) {
  #udtbp_logo {
    padding: calc(50% - 41.16rem) 0 !important
  }
}
<<<<<<< HEAD
/*------------------------------------*\
  * 2. $MEDIA QUERIES
  *    a. min-width: 61.250em / 980px
  *    b. min-width: 20.000em / 320px
  *       max-width: 61.188em / 979px
  *    c. min-width: 48.938em / 734px
  *       max-width: 61.188em / 979px
  *    d. min-width: 48.938em / 734px
  *    e. min-width: 61.250em / 980px
\*------------------------------------*/
/* @media only screen and (min-width: 61.250em) {
  #udtbp_logo img {
    border: 0 none;
    padding: 0;
    background: none;
    color: #111;
    width:219px;
    height:91px;
    -webkit-transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
    transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0s;
  }
}
@media only screen and (min-width: 20em) and (max-width: 61.188em) {
  #udtbp_header,
  #udtbp_header > div {
    height: auto;
=======
/*-------------------------------------------------------------------
  2. $MEDIA QUERIES
     a. max-width: 767px
-------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  #udtbp_logo {
    padding: 10px 0 0px;
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
  }
  #udtbp_logo img {
    width:calc(50% - 10.519rem);
    min-width: 120px
  }
<<<<<<< HEAD
} */
=======
}

>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
