/**
<<<<<<< HEAD
  * $ADMIN CSS
  *
  * Defines all of the styles used in
  * the plugin's ADMIN dashboard.
  *
  * @since   1.4.2
  * @version 1.0.0          Completely re-written to latest CSS standards. Removed outdated styles.
  * 1.  $NORMALIZE
  * 2.  $CLASSES
  * 3.  $TYPE
  * 4.  $AJAX
  * 5.  $LAYOUT/STRUCTURE
  * 6.  $FORM FIELDS
  * 7.  $JQUERY UI
  * 8.  $HEADER FOOTER COLOR
  * 9.  $NEED SUPPORT?
  * 10. $MEDIA QUERIES
  * 11. $MEDIA QUERIES & VIEWPORT TYPOGRAPHY
*/
/*-------------------------------------------------------------------
  4. @TEXT-LEVEL SEMANTICS
    a. Remove the gray background on active links in IE 10.
    b. Remove gaps in links underline in iOS 8+ and Safari 8+.
    c. Prevent the duplicate application of `bolder` by the next rule in
       Safari 6.
    d. Add the correct font weight in Chrome, Edge, and Safari.
    e. Add the correct font size in all browsers.
    f. Prevent `sub` and `sup` elements from affecting the line height in
       all browsers.
-------------------------------------------------------------------*/
a {
  background-color: transparent; /* a */
  -webkit-text-decoration-skip: objects; /* b */
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: color .12s ease-in-out;
  transition: color .12s ease-in-out;
}
b,
strong {
font-weight: inherit /* c */
}
b,
strong {
font-weight: bolder /* d */
}
small {
font-size: 80% /* e */
}

/*-------------------------------------------------------------------
  5. @EMBEDDED CONTENT
    a. Remove the border on images inside links in IE 10-.
    b. Hide the overflow in IE.
    c. Make svg image fluid in IE
    @example  https://tympanus.net/Tutorials/ResponsiveSVGs/index.html
-------------------------------------------------------------------*/
img {
  border-style: none; /* a */
  max-width:100%;
}
svg:not(:root) {
  overflow: hidden; /* b */
}
img:not(.png) {
  width: 100%;
}
/*-------------------------------------------------------------------
  7. @CLASSES
-------------------------------------------------------------------*/
.ud_alignleft {
  text-align:left !important
}
.ud_aligncenter {
  text-align:center !important
}
.ud_alignright {
  text-align:right !important
}
.last {
  margin-right:0 !important
=======
  $ADMIN CSS

  Defines all of the styles used in the dashboard.

  @since   1.4.2
  @version 1.0.1          Updated specs, removed legacy styles.
  1. @BASE
  2. @TEXT-LEVEL SEMANTICS
  3. @EMBEDDED CONTENT
  4. @CLASSES
  5. @FORMS
*/
/*------------------------------------------------------------------
  1. @BASE
    a. Correct the line height in all browsers.
-------------------------------------------------------------------*/
html,
input,
label,
textarea {box-sizing: border-box}
*,
:after,
:before {box-sizing: inherit}
html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering:auto;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  line-height: 1.15; /* a */
}
/*-------------------------------------------------------------------
  3. @SECTIONS
-------------------------------------------------------------------*/
body {
  position:relative;
  padding: 0 !important;
  border: 0 none !important;
  margin:  0;
  font-size: 1rem;
}
/*-------------------------------------------------------------------
  1. @TEXT-LEVEL SEMANTICS
    a. Remove the gray background on active links in IE 10.
    b. Remove gaps in links underline in iOS 8+ and Safari 8+.
    c. Prevent the duplicate application of `bolder` by the next rule in
       Safari 6.
    d. Add the correct font weight in Chrome, Edge, and Safari.
    e. Add the correct font size in all browsers.
    f. Prevent `sub` and `sup` elements from affecting the line height in
       all browsers.
-------------------------------------------------------------------*/
 h1 {
  font-size: 1.728rem !important;
  line-height: 1.4;
  margin-top: 2.1rem;
  font-weight: 500
}
h2 {
  font-size: 1.44rem !important;
  padding: 0 !important;
}
h3 {
  color: #666 !important;
}
h3,
h4 {
  font-size: 1.2rem !important;
  line-height: 1.3;
  font-weight: 500
}
a {
  background-color: transparent; /* a */
  -webkit-text-decoration-skip: objects; /* b */
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: color .12s ease-in-out;
  transition: color .12s ease-in-out;
}
b,
strong {
  font-weight: inherit /* c */
}
b,
strong {
  font-weight: bolder /* d */
}
small {
  font-size: 80% /* e */
}
/*-------------------------------------------------------------------
  2. @EMBEDDED CONTENT
    a. Remove the border on images inside links in IE 10-.
    b. Hide the overflow in IE.
    c. Make svg image fluid in IE
    @example  https://tympanus.net/Tutorials/ResponsiveSVGs/index.html
-------------------------------------------------------------------*/
img {
  border-style: none; /* a */
  max-width:100%;
}
svg:not(:root) {
  overflow: hidden; /* b */
}
img:not(.png) {
  width: 100%;
}
img.example_img {
  max-width: 500px;
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
}
/*-------------------------------------------------------------------
  3. @CLASSES
-------------------------------------------------------------------*/
.ud_alignleft {
  text-align:left !important
}
.ud_aligncenter {
  text-align:center !important
}
.ud_alignright {
  text-align:right !important
}
.left {
  float:left
}
.right{
  float:right
}
.hide {
  display: none !important
}
.ud_hidden {
  display: block !important;
  visibility: hidden !important
}
.block {
  display: block
}
.inline_block {
  display: inline-block
}
<<<<<<< HEAD
/*-------------------------------------------------------------------
  8. @FORMS
=======
.success {
  background-color: #090
}
.error {
  background-color: #9B0000
}
/*-------------------------------------------------------------------
  4. @FORMS
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
    a. Change the font styles in all browsers (opinionated).
    b. Remove the margin in Firefox and Safari.
    c. Show the overflow in IE, Edge.
    d. Remove the inheritance of text transform in Edge, Firefox, and IE.
    e. Prevent a WebKit bug where (2) destroys native `audio` and `video`
       controls in Android 4.
    f. Correct the inability to style clickable types in iOS and Safari.
    g. Remove the inner border and padding in Firefox.
    h. Restore the focus styles unset by the previous rule.
    i. Change the border, margin, and padding in all browsers (opinionated).
    j. Correct the text wrapping in Edge and IE.
    k. Correct the color inheritance from `fieldset` elements in IE.
    l. Remove the padding so developers are not caught out when they zero out
      `fieldset` elements in all browsers.
    m. Remove the default vertical scrollbar in IE.
    n. Support for all WebKit browsers.
    0. Support for Safari and Chrome.
    p. Support for Firefox.
    q. Support for IE.
-------------------------------------------------------------------*/
button,
input,
select,
textarea {
  font-family: sans-serif; /* a */
  font-size: 100%; /* a */
  line-height: 1.15; /* a */
  margin: 0; /* b */
}
button {
  display: inline-block;
  position: relative;
  padding: .381rem .762rem;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: background .15s ease-out, transform .15s ease-out, box-shadow .15s ease-out;
  transition: background .15s ease-out, transform .15s ease-out, box-shadow .15s ease-out;
  border-radius: 4px;
  background: #FF4F4F;
  color: #FFF;
  font-size: inherit;
  cursor: pointer
}
button,
input { /* c */
  overflow: visible;
<<<<<<< HEAD
}
button,
select { /* d */
  text-transform: none;
}
button,
html [type="button"], /* e */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* f */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none; /* g */
  padding: 0;
}
=======
}
button,
select { /* d */
  text-transform: none;
}
button,
html [type="button"], /* e */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* f */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none; /* g */
  padding: 0;
}
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; /* h */
}
fieldset {
  border: 1px solid #AAA; /* i */
  margin: 0 .0095rem;
  padding: .238rem .476rem .571rem;
}
form input {
  margin-right: .524rem;
  margin-bottom: .524rem;
  padding: .381rem .571rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: inherit;
  line-height: inherit
}
legend {
  box-sizing: border-box; /* j */
  color: inherit; /* k */
  display: table; /* j */
  max-width: 100%; /* j */
  padding: 0; /* l */
  white-space: normal; /* j */
}
textarea {
  overflow: auto; /* m */
}
[data-icon-after]::after {
  content: attr(data-icon-after);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  vertical-align: bottom;
  margin-left: .571rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased; /* n */
  text-rendering: optimizeLegibility; /* o */
  -moz-osx-font-smoothing: grayscale; /* p */
  -webkit-font-feature-settings: 'liga'; /* q */
          font-feature-settings: 'liga';
}
[data-icon-before]::before {
  content: attr(data-icon-before);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  vertical-align: bottom;
  margin-right: .571rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased; /* n */
  text-rendering: optimizeLegibility; /* o */
  -moz-osx-font-smoothing: grayscale; /* p */
  -webkit-font-feature-settings: 'liga'; /* q */
          font-feature-settings: 'liga';
}
html {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures
}
<<<<<<< HEAD








/*------------------------------------*\
  * 1. $NORMALIZE
\*------------------------------------*/

/*------------------------------------*\
  * 2. $CLASSES
\*------------------------------------*/

/*------------------------------------*\
  * 3. $TYPE
\*------------------------------------*/
=======
/*------------------------------------
  @ ???
  Todo: audit these styles and move to
  appropriate sections
--------------------------------------*/
>>>>>>> 992288358c8426f9166582a4fc24dd02b6b0f4a2
#udel_message {
  background-color:#FDD;
  padding:.313em;
  font-weight:bold
}
p.submit {
  float: none !important;
  text-align:center;
}
p.dashicons-before.dashicons-warning::before {
  font-family: "dashicons";
  content: "\f534";
  color: #9F6000 !important;
  line-height: 1.2;
  float: left;
}
#udtbp-ajax-message p {
  color: #FFF;
  font-size: 24px;
}
.notice.notice-error.is-dismissible,
.notice.notice-info.is-dismissible,
.notice.notice-warning.is-dismissible {
  display: block;
  margin:0;
}
.notice.notice-warning.is-dismissible {
  background: #FEEFB3;
}
.notice.notice-warning.is-dismissible p {
  color:#9F6000 !important;
}
.theme_name {
  display: inline;
  font-style: italic;
  font-weight: bold;
}
#udt_wrap h1,
#udt_wrap h3,
#udt_wrap p:not(.description),
#udtbp_form > td,
#udtbp_form > p
#udtbp_form > div,
.form-table th,
.form-wrap label {
  color: #333;
  font-family: "Open Sans",sans-serif;
}
#udt_wrap p {
  color: #666;
  font-size: 16px;
}
#udt_wrap h3{
  margin: 0;
}
#udt_wrap h3 + p{
  margin-top: 0
}
#udt_panel_mainmenu{
  background-color: #1B538C;
  display: flex;
  position: relative;
  margin: 0;
  width: 100%;
}
#udt_panel_mainmenu li {
  display: inline-block;
  float: left;
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  margin-bottom: 0;
  width: 130px
}
#udt_panel_mainmenu li:first-of-type,
#udt_panel_mainmenu li:nth-of-type(2),
#udt_panel_mainmenu li:nth-of-type(3){
  border-right: 1px solid #E7E7E7
}
#udt_panel_mainmenu li:hover,
#udt_panel_mainmenu li.ui-state-defaultnav-tab-active > a{
  background-color: #008BDB;
  transition: all 0.3s ease 0s;
}
#udt_panel_mainmenu a {
  box-sizing: border-box;
  color: #FFF;
  display: inline-block;
  outline: 0 none;
  padding: 20px;
  width: 130px;
  text-align: center;
  text-decoration:none;
}
.form-table th {
  font-size: 15px;
  padding-top: 0;
  vertical-align: middle;
}
#udtbp-ajax-message {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 40px;
  left: 0px;
  line-height: 2;
  padding: 14px;
  position: fixed;
  text-align: center;
  top: 32px;
  width: 100%;
  z-index:9999;
  transition: all 0.3s ease-in-out 0.3s;
}
#udtbp-ajax-saving {
  display: none;
  transition: background, box-shadow 0.3s;
  position: fixed;
  top: 30%;
  left: 50%;
  width: 110px;
  height: 110px;
  background: transparent;
  z-index: 999999;
}
#udtbp-ajax-saving.success-animation {
  background-color: #090;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 40px;
  opacity: 1;
}
#udtbp-ajax-saving.success-animation:before {
  background: none;
  font-family: 'dashicons';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f147";
  color: #FFF;
  font-size: 22px;
  line-height: 50px;
}
#udtbp-ajax-saving.et_loading:before,
#udtbp-ajax-saving.success-animation img,
#udtbp-ajax-message {
  display: none;
}
#udtbp_theme_override.show
#udtbp-ajax-message.show {
  display: inline-block;
}




/**
 * PAGE LOADING ANIMATION CSS
 */
 .loading:hover path {
   fill: red;
 }

 div {
   margin: 20px;
   width: 100px;
   height: 100px;
   -webkit-animation-name: spin;
   -webkit-animation-duration: 2000ms;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
   -moz-animation-name: spin;
   -moz-animation-duration: 2000ms;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: linear;
   -ms-animation-name: spin;
   -ms-animation-duration: 2000ms;
   -ms-animation-iteration-count: infinite;
   -ms-animation-timing-function: linear;
   animation-name: spin;
   animation-duration: 2000ms;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
 }

 @-ms-keyframes spin {
   from {
     -ms-transform: rotate(0deg);
   }
   to {
     -ms-transform: rotate(360deg);
   }
 }

 @-moz-keyframes spin {
   from {
     -moz-transform: rotate(0deg);
   }
   to {
     -moz-transform: rotate(360deg);
   }
 }

 @-webkit-keyframes spin {
   from {
     -webkit-transform: rotate(0deg);
   }
   to {
     -webkit-transform: rotate(360deg);
   }
 }

 @keyframes spin {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }
/*------------------------------------------------------------------------------
  $SCREEN READER
   a. Hide visually and from screen readers, but maintain layout
    b. For long content, line feeds are not interpreted as spaces and small
       width causes content to wrap 1 word per line:
       @link  https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
    c. Extends the .visuallyhidden class to allow the element to be focusable
       when navigated to via the keyboard: https://www.drupal.org/node/897638
    d. Hide visually and from screen readers, but maintain layout
------------------------------------------------------------------------------*/
.ud_hidden {
  display: none !important; /* a */
}
.ud_visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* b */
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { /* c */
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}
.ud_invisible { /* d */
  visibility: hidden;
}
/*------------------------------------
  5. $LAYOUT/STRUCTURE
    a. safari fix for font weight
    @example https://stackoverflow.com/questions/21278020/font-weight-turns-lighter-on-mac-safari
------------------------------------*/
.udt_yes_no_button,
#udt_header_settings select,
.wp-core-ui .button.save-button {
  border-radius: 4px;
}
.udt_yes_no_button,
#udt_header_settings select,
.wp-core-ui .button.save-button,
#udt_panel_mainmenu li:hover,
#udt_panel_mainmenu li.ui-tabs-active,
#udtbp-ajax-message,
#udt_header_settings select option:hover  {
  box-shadow:  inset 0 0 30px rgba(0,0,0, 0.25);
}
body#error-page #udtbp_header,
body#error-page #udtbp_footer {
  display: none !important;
  visibility: hidden;
}


.udt_yes_no_button {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease 0s;
  width: 255px;
}
.udt_yes_no_button span.udt_button_slider {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: rgba(0, 139, 219, 0.247059) 0px 0px 60px;
  height: 30px;
  margin: 5px 0;
  position: absolute;
  transition: all 0.3s ease 0s;
  width: 50%;
}
.udt_yes_no_button.udt_on_state {
  background-color: #008BDB;
}
.udt_yes_no_button.udt_off_state,
#udt_header_settings select.gray {
  background-color: #f1f5f9;
}
.udt_yes_no_button.udt_on_state span.udt_button_slider {
  left: 50%;
  margin-left: -5px;
}
.udt_yes_no_button.udt_off_state span.udt_button_slider {
  left: 5px;
}
span.udt_value_text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  font-weight: 600;
  -webkit-font-smoothing: subpixel-antialiased; /* a */
  padding: 11px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 50%;
}
span.udt_value_text.udt_on_value,
span.udt_value_text.udt_off_value {
  margin-left: 0;
  margin-right: 0;
}
span.udt_value_text.udt_on_value {
  color: #fff;
}
span.udt_value_text.udt_off_value {
  color: #8e969e;
}
.field_prompt {
  color:  #767676;
  font-style: italic;
}
#postbox-container-2 > h2 {
  height: 0;
  display: none;
  line-height: 0
}
#postbox-container-2 > h2.ud_hidden {
  height: 38px;
  display: flex;
  line-height: 0
}
/*------------------------------------
  6. $FORM FIELDS
    a. @example http://tympanus.net/Development/SelectInspiration
------------------------------------*/
.box-content input {
  float: left;
  vertical-align: top;
}
.box-content input[type="checkbox"] {
  display: none
}
.box-content label label {
  width:50px;
  height:50px;
}
#udt_header_settings label {
  display: inline-block;
  position:relative
}
#udt_header_settings label::after {
  content: "\f346";
  font-size: 30px;
  font-family: "dashicons";
  color: #FFF;
  right: 17px;
  top: 15%; /*50%;*/
  -webkit-transform: rotate(0);
  transform: rotate(0);
  height: 40px;
  padding: 0 5px;
  position: absolute;
  pointer-events: none;
  border-left: 1px solid #CCC;
  border-right: none;
}
#udt_header_settings label.focus::after{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-right: 1px solid #CCC;
  border-left: none;
}
#udt_header_settings select { /* a */
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 400px;
  height: 50px !important;
  float: left;
  margin: 3px 0px;
  font-size: 16px;
  line-height: 1.75;
  background:#008BDB;
  color: #FFF;
  border: 1px solid #0EBEFF;
  -ms-word-break: normal;
  word-break: normal;
  transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
}
#udt_header_settings select option:hover {
  color: #FFF;
}
#udt_header_settings select option:disabled {
  color: #CCC;
  box-shadow: none;
  font-weight: normal;
  cursor: default !important;
  pointer-events: none;
}
/*------------------------------------
  7. $JQUERY UI
    @example http://stackoverflow.com/questions/8849684/wordpress-jquery-ui-css-files
------------------------------------*/
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 6px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 6px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 6px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 6px;
}
.ui-slider-horizontal {
  height: .8em;
}
.ui-slider {
  position: relative;
  text-align: left;
}
.wp-core-ui .button.save-button {
  background: #090;
  border: medium none;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.wp-core-ui .button.save-button:hover {
  background: #00D100;
}
.wp-core-ui .button.save-button::after {
  content: "\f147";
  font-size: 30px;
  vertical-align: middle;
  font-family: "dashicons";
}
/*------------------------------------
  7. $JQUERY UI
    A. DIALOG
    @see https://raw.githubusercontent.com/jquery/jquery-ui/master/themes/base/dialog.css
------------------------------------*/
.ui-button.ui-dialog-titlebar-close{
  color: #FFF;
}
.ui-dialog-titlebar {
  background: #1B538C !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
}
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}
.ui-dialog {
  border: 1px solid #E7E7E7;
  background: #1A1A1A;
  color: #FFF;
}
h3.ui-accordion-header::before,
h3.ui-accordion-header.ui-state-active::before{
  padding-right: 0.5em;
  display: inline-block;
  font-size: 14px;
  line-height: 1.8;
  color: #CCC;
}
h3.ui-accordion-header.ui-state-active::before{
  content: '\25bc';
}
h3.ui-accordion-header::before{
  content: '\25ba';
}
h3.ui-accordion-header.ui-state-active{
  background: rgba(151,151,151,.2);
}
h3.ui-accordion-header {
  font-size: 18px !important;
  font-weight: 400;
  display: flex;
  border-radius: 0;
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}
/*------------------------------------
  7. $JQUERY UI
    A. ACCORDION
    @see https://raw.githubusercontent.com/jquery/jquery-ui/master/themes/base/accordion.css
------------------------------------*/
.ui-accordion .ui-accordion-header {
  cursor: pointer;
  position: relative;
  padding: .5em .5em .5em .7em;
  font-size: 1rem;
}
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
  max-height: 350px;
}
/*------------------------------------
  8. $HEADER FOOTER COLOR
    Header and footer background color boxes
------------------------------------*/
.scheme_white,
.scheme_blue {
  display: inline-block;
  border:1px solid #E7E7E7;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  height: 50px;
  margin-right: 8px;
  width: 50px;
}
.scheme_white {
  background: #FFF;
}
.scheme_blue {
  background: #1A9DD8;
}
#rad_blue_footer,
#rad_white_footer {
  display: none
}
#rad_blue_footer:checked + div,
#rad_white_footer:checked + div {
border:3px solid #00539F;
}
#rad_white_footer:disabled + .scheme_white,
#rad_blue_footer:disabled + .scheme_blue {
  background:#E7E7E7;
  cursor: no-drop;
}
#main_wrap{
  margin: 35px 50px 30px 30px;
}
#udt_header {
  background: #154370;
  border-radius: 4px 4px 0 0;
  line-height: 0.8;
  padding: 25px 28px;
}
#udt_wrap {
  background-color: #154370;
  border-radius: 4px 4px 0 0;
  position: relative;
}
h1#icon-themes::before {
  content: url("../img/wp-dashboard-icon-white.png");
  float:left;
  width:64px;
  height: 64px;
}
h1#icon-themes {
  display: inline-block;
  color: #FFF;
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 9px 0 4px;
  line-height: 60px;
}
#poststuff {
  padding-top: 0
}
/*------------------------------------
  9. $NEED SUPPORT?
------------------------------------*/
#udt_header_settings,
#udt_footer_settings,
#udt_about_settings,
#udt_support_settings {
  height: auto;
  margin-top: 40px;
  min-height: 360px;
}
.support_list {
  display: block;
  list-style: outside none none;
}
.support_list li:before {
  content: "» ";
  color: #666;
}
.support_list li {
  line-height: 1.5;
  margin: 0 0 0 0.9em;
  padding: 0;
  text-indent: -0.9em;
  font-size: 1rem;
}
.support_list li span {
  font-size: 15px;
}
/*------------------------------------
  10. $MEDIA QUERIES
    a. max-width: 47.938em / 782px
    b. -webkit-min-device-pixel-ratio:0
------------------------------------*/

@media only screen and (max-width:47.938em){
  .form-table tr,
  .form-table th {
    padding: 16px 0 0;
    text-align: center;
  }
  .submit{
    padding-bottom: 2em
  }
  p.notify{
    position:static;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #udt_header_settings select {
    padding-right:18px
  }
}
/*------------------------------------
  11. $MEDIA QUERIES & VIEWPORT TYPOGRAPHY
    @example https://zellwk.com/blog/viewport-based-typography/
------------------------------------*/
html {
  font-size: 106.25%;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  text-rendering: optimizeLegibility;
}

@media all and (min-width:640px) {
  html {
    font-size: 118.75%
  }
}

@media all and (min-width:1100px) {
  html {
    font-size: 131.25%
  }
}

@media all and (min-width:1800px) {
  html {
    font-size: 150%
  }
}

@media all and (min-width:2800px) {
  html {
    font-size: 162.5%
  }
}
/*
.h1,
h1 {
  font-size: 1.728rem;
  line-height: 1.4;
  margin-top: 2.1rem;
  font-weight: 500
}

@media all and (min-width:640px) {
  .h1,
  h1 {
    font-size: 2.0736rem
  }
}
.h2,
h2 {
  font-size: 1.44rem;
  line-height: 1.35;
  margin-top: 2.1rem;
  font-weight: 500
}
h1+.h2,
h1+h2 {
  margin-top: 1.4rem
}
h3,
h4 {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 500
} */
